
<h1>Enter Student Details</h1>
<center>
    <br /> <br /> <br />
    <form method="post" action="/Home/Details">
    Enter Student No
    <input type="text" name="Stno" />
    <br /><br />
    Enter Student Name
    <input type="text" name="Stname" />
    <br /><br />
    Enter Student Date of Admn
    <input type="text" name="Doa" />
     <br /><br />
    Enter Student Fees
    <input type="text" name="Fees" />
    <br /><br />
    <input type="submit" name="Submit" value="Submit" />

</form>
</center>