@model SecondMVC.Models.Student


<center>
    <br /> <br /> <br /> <br />

    <h2 style="color:green">Student Data</h2>

    <br /> <br />
    Student No is @Model.Stno
    <br /> <br />
    Student Name is @Model.Stname

    <br /> <br />
    Date of Admn is @Model.Doa

    <br /> <br />
    Student Fees is @Model.Fees

</center>